@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
  }

  .container-grid {
    display: grid;
    grid-template-columns: 49% 51%;
    gap: 128px;
    min-height: 100vh;
  }

  .bg-mobile {
    background-image: url("/bg-main-mobile.png");
    background-size: cover;
  }
  .bg-desktop {
    background-image: url("/bg-main-desktop.png");
    background-color: white;
    background-size: 69% 100%;
    background-position: left;
    background-repeat: no-repeat;
  }

  .card {
    @apply lg:w-[447px] w-[286px] lg:h-[245px] h-[157px] rounded-lg bg-contain;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  }

  .card-back {
    background-image: url("/bg-card-back.png");
  }
  .card-front {
    background-image: url("/bg-card-front.png");
  }

  .label {
    @apply text-[0.7rem] uppercase tracking-wide text-violet-800;
  }
}
